---
import Contador from "../components/Contador.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page - Astro Contador</title>
  </head>
  <body style="text-align:center; font-family:sans-serif;">
    <h1>🌟 Bienvenido a mi Contador con Astro</h1>
    <a href="/perfil">Ir al Perfil</a>
    <Contador />
  </body>
</html>
