<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perfil</title>
  </head>
  <body style="text-align:center; font-family:sans-serif;">
    <h1>👤 Página de Perfil</h1>
    <a href="/">Volver al Home</a>
  </body>
</html>
dsgdgdg